.test-list {
  padding: 30px 5%;

  .test-title {
    font-size: 28px;
    margin: 10px 0;
  }

  .search {
    padding: 5px 40px 5px 15px;
    margin: 10px 0;
    background: url("../../common/images/search.svg") no-repeat center right 15px;
    background-size: 16px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
  }
}

.test-entry {
  padding: 10px 30px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  transition: 0.2s;
  margin: 15px 0;

  &:hover {
    background: #fafafa;
    border: 1px solid #b9b9b9;
  }

  .test-header {
    display: flex;

    .meta {
      float: right;
    }
  }

  .name {

  }

  .description {
    text-decoration: none !important;
    color: gray;
    font-size: 16px;
    font-style: normal;
  }

}